<div class="sidebar">
  <ul>
    <li>
      <a href="/admin/dashboard">
        <span class="glyphicon glyphicon-home"></span>
        首页</a>
    </li>
  </ul>
  <section>
    <div class="title">
      旅游团管理
    </div>
    <ul>
      <li>
        <a href="/admin/tour_groups/new">
          <span class="glyphicon glyphicon-plus"></span>
          新增报备</a>
      </li>
      <li>
        <a href="/admin/tour_groups">
          <span class="glyphicon glyphicon-cog"></span>
          管理报备</a>
      </li>
    </ul>
  </section>
  <section>
    <div class="title">
      执法管理
    </div>
    <ul>
      <li>
        <a href="/admin/users/new">
          <span class="glyphicon glyphicon-plus"></span>
           新增用户</a>
      </li>
      <li>
        <a href="/admin/users">
          <span class="glyphicon glyphicon-cog"></span>
          管理用户</a>
      </li>
      <li>
        <a href="/admin/contacts">
          <span class="glyphicon glyphicon-phone"></span>
          联合执法</a>
      </li>
    </ul>
  </section>
  <section>
    <div class="title">
      执法操作
    </div>
    <ul>
      <li>
        <a href="<%= home_index_path %>">
          <span class="glyphicon glyphicon-list-alt"></span>
          开始执法
        </a>
      </li>
    </ul>
  </section>

</div>
